<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walkers.sportslight.userMatch.query.repository.MatchQueryRepository">
    <!-- MatchMapper.xml -->

    <resultMap id="MatchResultUserResultMap" type="MatchResultUserDTO">
        <result column="userNo" property="userNo" />
        <result column="nickname" property="nickname" />
        <result column="level" property="level" />
        <result column="score" property="score" />
    </resultMap>


    <select id="getMatchProfile" parameterType="long" resultType="com.walkers.sportslight.userMatch.query.dto.MatchProfileDTO">
        SELECT
                u.id AS userNo,
                u.name AS userName,
                COUNT(m.id) AS numMatch,
                SUM(CASE WHEN m.winner_id = u.id THEN 1 ELSE 0 END) AS numWin,
                (SUM(CASE WHEN m.winner_id = u.id THEN 1 ELSE 0 END) / COUNT(m.id)) * 100 AS winRate
          FROM
                user u
          JOIN
                match m ON u.id = m.user1_id OR u.id = m.user2_id
         WHERE
                u.id = #{userNo}
         GROUP BY
                u.id;
    </select>

    <select id="selectMatchResults" resultMap="MatchResultUserResultMap">
    SELECT
            A.USER1ID AS userNo,
            B.NICKNAME AS nickname,
            C.LEVEL AS level,
            A.USER1SCORE AS score
      FROM
            USER_MATCH A
      JOIN
            USER B
        ON
            A.user1id = B.USER_NO
      JOIN
            USER_STAT C
        ON
            B.USER_NO = C.USER_NO

    UNION ALL

    SELECT
            A.USER1ID AS userNo,
            B.NICKNAME AS nickname,
            C.LEVEL AS level,
            A.USER1SCORE AS score
      FROM
            USER_MATCH A
      JOIN
            USER B
        ON
            A.USER1ID = B.USER_NO
      JOIN
            USER_STAT C
        ON
            B.USER_NO = C.USER_NO
</select>
</mapper>
