<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walkers.sportslight.user.query.repository.UserQueryRepository">

    <resultMap id="accountMap" type="com.walkers.sportslight.user.query.dto.AccountInfoResponseDTO">
        <id property="userNo" column="user_no"/>
        <result property="nickname" column="nickname"/>
        <result property="age" column="age"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="address" column="address"/>
    </resultMap>


<!--   유저 프로필 반환 -->
    <select id="findAccountByUserNo" resultMap="accountMap" parameterType="_long">
        SELECT
                USER_NO
              , NICKNAME
              , PHONE_NUMBER
              , ADDRESS
<!--        만 나이로 계산 -->
              , YEAR(CURDATE()) - YEAR
                - <![CDATA[
                      (DATE_FORMAT(CURDATE(), '%m%d') < DATE_FORMAT(CONCAT(YEAR, '-', MONTH, '-', DAY), '%m%d'))
                  ]]>
                AS AGE
          FROM
                USER
         WHERE
                USER_NO=#{userNo}
    </select>

</mapper>